<div class="container mx-auto px-4 py-10">
  <div class="mb-3">
    <%= render 'shared/search_form' %>
  </div>
  <div class="flex justify-center mb-5">
    <%== pagy_nav(@pagy) %>
  </div>

  <%= render @spaces %>

  <div  class="flex justify-center">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
