<div class="container mx-auto px-4 py-10">
  <div class="mb-3">
    <%# ここに検索フォームを配置する %>
  </div>
  <div class="flex justify-center mb-5">
    <%# ここにpagyのページネーションを配置する %>
  </div>

  <%= render @spaces %>

  <div  class="flex justify-center">
    <%# ここにpagyのページネーションを配置する %>
  </div>
</div>
